/* 

Basic and Relational Selectors 
Source: https://www.w3schools.com/cssref/css_selectors.asp

In CSS, selectors are patterns used to select the element(s) you want to style.

*/

/* 

asterisk - universal selector 

*	*	Selects all elements

*/

* {
  box-sizing: border-box;
}

/*

element selector

element	            p	          Selects all <p> elements
element.class	      p.intro	    Selects all <p> elements with class="intro"
element,element	    div, p	    Selects all <div> elements and all <p> elements
element element	    div p	      Selects all <p> elements inside <div> elements
element>element	    div > p	    Selects all <p> elements where the parent is a <div> element
element+element	    div + p	    Selects the first <p> element that is placed immediately after <div> elements
element1~element2	  p ~ ul	    Selects every <ul> element that is preceded by a <p> element

*/

body {
  margin: 10px;
}

/* 

id selector

#id	    #firstname	    Selects the element with id="firstname" 

*/

#products {
  padding: 50px;
  background-color: lightgray;
  border-radius: 25px;
}

/* 

class selector 

.class	            .intro	        Selects all elements with class="intro"
.class1.class2	    .name1.name2	  Selects all elements with both name1 and name2 set within its class attribute
.class1 .class2	    .name1 .name2	  Selects all elements with name2 that is a descendant of an element with name1

*/

.product {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*

attribute selector

[attribute]	        [target]	              Selects all elements with a target attribute
[attribute=value]	  [target=_blank]	        Selects all elements with target="_blank"
[attribute~=value]	[title~=flower]	        Selects all elements with a title attribute containing the word "flower"
[attribute|=value]	[lang|=en]	            Selects all elements with a lang attribute value equal to "en" or starting with "en-"
[attribute^=value]	a[href^="https"]	      Selects every <a> element whose href attribute value begins with "https"
[attribute$=value]	a[href$=".pdf"]	        Selects every <a> element whose href attribute value ends with ".pdf"
[attribute*=value]	a[href*="w3schools"]	  Selects every <a> element whose href attribute value contains the substring "w3schools"

*/

a[href^="https"] {
  color: green;
}

/* 

Pseudo-class Selectors 
Source: https://www.w3schools.com/css/css_pseudo_classes.asp

A pseudo-class is used to define a special state of an element.

For example, it can be used to:

Style an element when a user mouses over it
Style visited and unvisited links differently
Style an element when it gets focus

*/

/* Anchor Pseudo-classes */

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover,
a:focus {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/*

:first-child Pseudo-class

The :first-child pseudo-class matches a specified element that is the first child of another element.

*/

section > article > p:first-child {
  font-size: 125%;
  font-weight: bold;
}

ul > li:nth-child(odd) {
  color: red;
}

ul > li:nth-child(2n) {
  color: green;
}

/*

Pseudo-element Selectors
Source: https://www.w3schools.com/css/css_pseudo_elements.asp

A CSS pseudo-element is used to style specified parts of an element.

For example, it can be used to:

Style the first letter, or line, of an element
Insert content before, or after, the content of an element

*/

p::first-line {
  font-variant: small-caps;
}

p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}

p::after {
  content: " - Remember this";
}
