/* Basic and Relational Selectors */

/* 

asterisk - universal selector 

*	*	Selects all elements

*/

* {
  box-sizing: border-box;
}

/*

element selector

element	            p	          Selects all <p> elements
element.class	      p.intro	    Selects all <p> elements with class="intro"
element,element	    div, p	    Selects all <div> elements and all <p> elements
element element	    div p	      Selects all <p> elements inside <div> elements
element>element	    div > p	    Selects all <p> elements where the parent is a <div> element
element+element	    div + p	    Selects the first <p> element that is placed immediately after <div> elements
element1~element2	  p ~ ul	    Selects every <ul> element that is preceded by a <p> element

*/

body {
  margin: 10px;
}

/* 

id selector

#id	    #firstname	    Selects the element with id="firstname" 

*/

#products {
  padding: 50px;
  background-color: lightgray;
  border-radius: 25px;
}

/* 

class selector 

.class	            .intro	        Selects all elements with class="intro"
.class1.class2	    .name1.name2	  Selects all elements with both name1 and name2 set within its class attribute
.class1 .class2	    .name1 .name2	  Selects all elements with name2 that is a descendant of an element with name1

*/

.product {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*

attribute selector

[attribute]	        [target]	              Selects all elements with a target attribute
[attribute=value]	  [target=_blank]	        Selects all elements with target="_blank"
[attribute~=value]	[title~=flower]	        Selects all elements with a title attribute containing the word "flower"
[attribute|=value]	[lang|=en]	            Selects all elements with a lang attribute value equal to "en" or starting with "en-"
[attribute^=value]	a[href^="https"]	      Selects every <a> element whose href attribute value begins with "https"
[attribute$=value]	a[href$=".pdf"]	        Selects every <a> element whose href attribute value ends with ".pdf"
[attribute*=value]	a[href*="w3schools"]	  Selects every <a> element whose href attribute value contains the substring "w3schools"

*/

a[href^="https"] {
  color: green;
}
