<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
      officia architecto repellat quibusdam, adipisci quo et odit?
      Exercitationem porro in maxime, quod distinctio pariatur fugit quasi
      aliquam placeat nobis soluta!
    </p>
  </div>
</div>
