body {
  box-sizing: border-box;
  margin: 5rem;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box {
  height: 180px;
  width: 180px;
  background-color: gold;
  padding: 2rem;
}

.box-one:hover {
  transform: rotate(45deg);
}

.box-two:hover {
  transform: scale(1.5);
}

.box-three:hover {
  transform: translate(100px, 100px);
}

.box-four:hover {
  transform: skew(-15deg);
}
