body {
  box-sizing: border-box;
  margin: 5rem;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-bottom: 5rem;
}

.box {
  height: 180px;
  width: 180px;
  background-color: gold;
  padding: 2rem;
 
  /* Transition */
  /* 
    Cubic Bezier - Custom curve for transition
    https://cubic-bezier.com/
  */
  transition: transform 0.5s ease-in;
}

/* 2D Transformation */
.box-one:hover {
  transform: rotate(45deg);
}

.box-two:hover {
  transform: scale(1.5);
}

.box-three:hover {
  transform: translate(100px, 100px);
}

.box-four:hover {
  transform: skew(-15deg);
}

/* 3D Transformation */
.box-five:hover {
  transform: perspective(200px) rotateY(45deg);
  transform-origin: 0 50%;
}

.box-six:hover {
  transform: perspective(200px) rotateY(-45deg);
}
