/* 

Flexbox

Used for laying out elements in one direction.

Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/

*/

/* Properties for the Parent (flex container) */

/* 

Property for direction

flex-direction (establishes the main-axis)
value can be: 
row | row-reverse | column | column-reverse

flex-wrap (allow the items to wrap)
value can be: 
nowrap | wrap | wrap-reverse;

flex-flow (shorthand for the flex-direction and flex-wrap)
flex-flow: column wrap;
*/

/* 

Properties for aligning items

justify-content (along the main axis)
value can be: 
flex-start | flex-end | center | space-between | space-around | space-evenly

align-items (along the cross axis)
value can be:
flex-start | flex-end | center | stretch | baseline 

align-container (along both axis)
value can be:
flex-start | flex-end | center | space-between | space-around | space-evenly | stretch

*/

/* 

Properties for gap between items

gap, row-gap, column-gap

gap: 10px;
gap: 10px 20px; // row-gap column gap
row-gap: 10px;
column-gap: 20px;

*/

.container {
  border: 0.2rem solid grey;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* align-content: center;

  flex-wrap: wrap;

  gap: 10rem; */

  height: 90vh;
}

.item {
  width: 7rem;
  height: 7rem;

  margin: 1rem;

  background-color: gold;
  border: 0.5rem solid orange;
}

/* Properties for the Children (flex items) */

/* 

align-self

This allows the default alignment (or the one specified 
by align-items) to be overridden for individual flex items.

value can be:
auto | flex-start | flex-end | center | baseline | stretch

*/

.item-one {
  align-self: flex-start;
}

/* 

flex-grow
This defines the ability for a flex item to grow if necessary.
flex-grow: 4; // default 0 

flex-shrink
This defines the ability for a flex item to shrink if necessary.
flex-shrink: 3; // default 1

flex-basis
This defines the default size of an element before the remaining space is distributed.
It can be a length (e.g. 20%, 5rem, etc.) or a keyword.
flex-basis: 10px | auto; // default auto

flex
This is the shorthand for flex-grow, flex-shrink and flex-basis combined.
The default is 0 1 auto.
flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]

*/

.item {
  flex-basis: 7rem;
  flex-grow: 1;
}

.item-three {
  flex-grow: 0;
}

/* 

order
This property controls the order in which they appear in the flex container.
order: 5; // default is 0

*/

.item-one {
  order: 3;
}

.item-three {
  order: 1;
}

.item-two {
  order: 2;
}
