body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

section {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  height: 180px;
  width: 180px;
  background-color: gold;
  padding: 2rem;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.5);
  }

  50% {
    transform: rotate(45deg);
    background: tomato;
  }

  100% {
    transform: rotate(0);
  }
}

.animation-pop {
  /* 
  Short-hand property
  animation: name duration timing-function delay iteration-count direction fill-mode;
  */

  animation-name: pop;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 3;
  animation-timing-function: ease-out;

  /* 
  animation-direction: alternate;
  */
}
